/*Schrijf hier jouw CSS*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.col-1 {
    flex-basis: 15vw;
}

.col-2 {
    flex-basis: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    flex-basis: 110px;
}

main {
    flex-basis: auto;
}

article {
    height: 100%;
}

nav, header, footer {
    flex-grow: 0;
    flex-shrink: 0;
}

div, main {
    flex-grow: 1;
    flex-shrink: 1;
}